.top {
	width: 100% !important;
	height: 70px;
	background-color: #f3f3f3;
	box-shadow: 0px 2px 2px #e7e7e7;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
}

.user label {
	font-size: 28px;
	display: inline-block;
	margin: auto;
	top: 10px;
	position: relative;
	left: 38px;
	font-weight: 500;
}

.user .sub {
	font-size: 20px;
	display: inline-block;
	margin: auto;
	top: 10px;
	position: relative;
	padding: 10px;
	font-weight: 400;
}

.button {
	overflow: visible;
	font-size: 1rem;
	cursor: pointer;
	display: inline-block;
	min-height: 1em;
	outline: 0;
	border: none;
	vertical-align: baseline;
	background: #E0E1E2;
	color: rgba(0, 0, 0, .6);
	font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
	margin: 0 .25em 0 0;
	padding: .78571429em 1.5em;
	text-transform: none;
	text-shadow: none;
	line-height: 1em;
	font-style: normal;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, .15)
		inset;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: opacity .1s ease, background-color .1s ease, color
		.1s ease, box-shadow .1s ease, background .1s ease;
	transition: opacity .1s ease, background-color .1s ease, color .1s ease,
		box-shadow .1s ease, background .1s ease;
	will-change: '';
	-webkit-tap-highlight-color: transparent;
}

.btn-4 {
	background-color: transparent;
	box-shadow: 0 0 0 2px #3ac0ff inset !important;
	color: #3ac0ff;
        width:120px;
}

.btn-4:hover {
	background-color: #3ac0ff;
	box-shadow: none !important;
	color: #FFF;
}

